### 데이터 전처리 EX-1

문제 1 : 결측치 처리
결측치(Missing Value)는 데이터 분석 과정에서 처리해야 할 중요한 이슈 중 하나입니다.

결측치를 처리하는 방법은 여러 가지가 있는데, 가장 간단한 방법은 결측치를 모두 제거하는 것입니다.
하지만, 결측치가 너무 많은 경우 데이터의 손실이 크기 때문에 다른 방법을 사용해야 합니다.


대표적인 방법으로 결측치를 대체하는 방법이 있습니다.
결측치를 대체하는 가장 간단한 방법은 평균값, 중앙값, 최빈값 등으로 대체하는 것입니다.

이번 문제에서는 평균값, 최빈값으로 결측치를 대체하는 방법을 사용합니다.

In [2]:
import pandas as pd

In [19]:
# 데이터 불러오기
df = pd.read_csv('train.csv')

In [ ]:
# 데이터 전처리 전 정보 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
# 데이터 전처리 전 구조 확인
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [20]:
# Age 열의 결측치를 평균값으로 대체
print(df['Age'].isnull().sum())
df['Age'] = df['Age'].fillna(df['Age'].mean())

177

In [ ]:
# 결측치 제거 확인
print(df['Age'].isnull().sum())

0

In [ ]:
# Embarked 열의 결측치를 최빈값으로 대체
print(df['Embarked'].isnull().sum())
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])
# df['Embarked'].mode() : Series 타입
# fillna() : 단일값을 기대
# 직접 값을 꺼내서 써줘야 함 => mode()[0]

2

In [ ]:
# 결측치 제거 확인
print(df['Embarked'].isnull().sum())

0

In [28]:
# Cabin 열 삭제
print(df['Cabin'].isnull().sum())
df = df.drop('Cabin', axis=1)

687

In [ ]:
# 열 제거 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB