### 데이터 전처리 EX-3

문제 3 : 이상치 제거 (IQR 이용)
이상치(Outlier)는 데이터의 전체적인 패턴과 동떨어진 관측치를 의미합니다.
이상치는 데이터 분석 결과를 왜곡하고, 모델의 성능을 떨어뜨릴 수 있습니다.
이상치를 탐지하고 처리하는 것은 데이터 전처리 과정에서 중요한 작업 중 하나입니다.

이번 문제에서는 IQR(Interquartile Range) 방식을 사용하여 이상치를 탐지하고 제거하는 방법을 실습합니다.

IQR은 사분위 범위로, 데이터의 상위 75%와 하위 25% 사이의 범위를 의미합니다.
IQR은 Q3(75%분위수) - Q1(25% 분위수)로 계산합니다.
IQR을 사용하여 이상치의 경계를 계산할 수 있습니다.
이상치는 Q1 - 1.5 * IQR 보다 작거나, Q3 + 1.5 * IQR 보다 큰 경우로 정의합니다.

이상치를 제거하는 방법은 이 경계를 벗어나는 데이터를 제거하는 것입니다.

In [2]:
import pandas as pd

In [20]:
# 데이터 불러오기
df = pd.read_csv('diamonds.csv')

In [21]:
# 데이터 전처리 전 정보 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

In [22]:
# 데이터 전처리 전 구조 확인
df.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [29]:
# carat 열에서 IQR 방식을 사용하여 이상치 제거
# 이상치 계산
Q1 = df['carat'].quantile(0.25)     # 1사분위
Q3 = df['carat'].quantile(0.75)     # 3사분위
IQR = Q3 - Q1       # IQR 계산

low_ = Q1 - 1.5*IQR
upper_ = Q3 + 1.5*IQR

# 하한값과 상한값 출력
print('하한 값 : ', low_)
print('상한 값 : ', upper_)

outlier = df[(df['carat'] < low_) | (df['carat'] > upper_)]     # 이상치 탐색

하한 값 :  -0.5599999999999999
상한 값 :  2.0

In [24]:
# 이상치 제거 전 개수 확인
df.shape

(53940, 11)

In [25]:
# 이상치 제거
drop_outliers = df[(df['carat'] >= low_) & (df['carat'] <= upper_)]

In [26]:
# 이상치 제거 후 개수 확인
drop_outliers.shape

(52051, 11)